body {
  /* background-color: #f1f1f1 !important; */
}

form {
  max-width: 450px;
  margin: 30px auto;
}

textarea {
  height: 300px;
}

.remember {
  color: #898989;
  font-size: 14px;
  margin-left: 10px;
}

.errors {
  color: #f44336;
}
